---
sudo: required
dist: trusty

install:
  - >
    curl -sSL "https://get.docker.com/gpg" |
     sudo -E apt-key add -
  - >
    echo "deb https://apt.dockerproject.org/repo ubuntu-trusty main" |
     sudo tee -a /etc/apt/sources.list
  - sudo apt-get update
  - >
    sudo apt-get -o Dpkg::Options::="--force-confdef" \
     -o Dpkg::Options::="--force-confold" --assume-yes install --allow-unauthenticated docker-engine
  - >
    mkdir data
  - >
    touch data/fastpost.sqlite3
  - >
    mv .travis.local_settings.py fastpost/local_settings.py
  - docker version
  - sudo pip install docker-compose
  - docker-compose version

before_script:
  - docker-compose up --build -d

script:
  - python manage.py test

after_script:
  - docker-compose down
