{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}FastPost{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">FastPost</a>
          <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
              <li><a href="/newpost">New post</a></li>
              <li><a href="/logout">Logout</a></li>
            {% else %}
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
    <main>
      {% block content %}
      {% endblock %}
   </main>
  </body>
</html>
{% comment %}
vim ft=htmldjango
{% endcomment %}
