{% load i18n %}
<ul>
  <div class="row">
    {% for post in posts %}
      <div class="col s12 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{ post.title }}</span>
            <p>
              {{ post.short_content }}
            </p>
          </div>
          <div class="card-action">
            <a href="{% url 'viewpost' post.slug %}">{% trans 'Read full' %}</a>
          </div>
        </div>
      </div>
    {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">
    {% endif %}
  {% endfor %}
  </div>
</ul>
